/******************************************************************

Stylesheet: 1024px以上のモニタで適用

******************************************************************/
#cover {
  background: url(../images/bg-cover-pc.jpg) no-repeat center top;
  background-size: cover;
  height: 480px;
  padding: 40px 0 0;
  text-align: center;
}
.header-tel-area {
  display: block;
  margin: 0 20px 0 0;
  position: absolute;
  top: 12px;
  right: 180px;
  text-align: right;
  width: 340px;
}
.pc-only {
  display: inline-block !important;
}
.sp-only {
  display: none !important;
}
.header-logo {
  position: absolute;
  top: 16px;
  left: 0;
}
#header {
  margin: 0 auto;
  display: block;
  height: 104px;
  border-bottom: 2px solid #fb0000;
}
.cover-main .mv-pict {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 2%;
  width: 75%;
}
.person-area {
  float: right;
  position: relative;
  width: 40%;
}
.person-area img {
  height: 480px;
}
#lp-avoid {
  margin: 0 auto;
  width: 92%;
  max-width: 720px;
}
.avoid-area {
  margin: 100px auto 60px;
}
.avoid-area h3 {
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: -22px;
  left: 0;
  text-align: center;
  width: 100%;
}
.avoid-area h3 br {
  display: none;
}
.avoid-area h3 span {
  background: #fff;
}
.avoid-area-text {
  margin: 10px auto 20px;
}
.avoid-area .item-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 86%;
  justify-content: space-around;
}
.avoid-area .item {
  margin: 0 auto 20px;
  width: 30%;
}
.avoid-area .item img {
  font-size: 16px;
}
.avoid-area .item p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.container.medium.lead-item-outer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#lead {
  background: #eee;
  margin: 0 auto;
}
.lead-item-outer {
  letter-spacing: -0.4em;
  padding: 58px 0;
}
.lead-item {
  background-color: rgb(255 255 255);
  display: inline-block;
  height: 300px;
  letter-spacing: normal;
  padding: 54px 2% 0;
  text-align: center;
  vertical-align: top;
  width: 32%;
}

.lead-item-ttl {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
}
.lead-item-ttl {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
}
.lead-item:first-child .lead-item-ttl::before,
.lead-item:nth-child(2) .lead-item-ttl:before,
.lead-item:last-child .lead-item-ttl:before {
  position: absolute;
  content: '';
  height: 32px;
  top: -44px;
  left: 50%;
}

.lead-item:first-child .lead-item-ttl:before {
  background: url(../images/icon-lead03.png) no-repeat;
  background-size: 43px 32px;
  margin-left: -22px;
  width: 43px;
}
.lead-item:nth-child(2) .lead-item-ttl:before {
  background: url(../images/icon-lead01.png) no-repeat;
  background-size: 43px 32px;
  margin-left: -22px;
  width: 43px;
}
.lead-item:last-child .lead-item-ttl:before {
  background: url(../images/icon-lead02.png) no-repeat;
  background-size: 37px 32px;
  margin-left: -19px;
  width: 37px;
}
.lead-item:nth-child(2) {
  margin: 0 2%;
}
.lead-item-txt {
  font-size: 15px;
  font-weight: bold;
  height: 86px;
  margin: 12px 0;
  padding-top: 16px;
  position: relative;
}
.lead-item-txt-pc-block {
  display: block;
}
.lead-item-txt:before {
  background: #fff;
  border-top: 2px solid #ff93ac;
  content: '';
  display: block;
  margin-left: -20px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 12px;
  z-index: 20;
}
.lead-item-txt-btm {
  font-size: 15px;
  margin: 0 0 14px;
}
.lead-item-smalltxt-btm {
  display: block;
  font-size: 11px;
  margin: 4px 0 0;
}
#problem {
  background: repeating-linear-gradient(-45deg, #eee, #eee 2px, #fff 4px);
  padding-top: 64px;
  position: relative;
}
#problem:after {
  background: url(../images/bg-filter.png) no-repeat center top;
  content: '';
  height: 128px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.problem-list {
  background: url(../images/bg-problem.png) no-repeat center bottom;
  height: 448px;
}
.problem-list:after {
  content: '';
  display: none;
}
.problem-list li {
  padding: 10px 20px;
}
.problem-list li br {
  display: inline;
}
.problem-list li span {
  font-size: 24px;
}
.problem-list li:first-child {
  top: 0;
  left: 0;
}
.problem-list li:nth-child(2) {
  top: 24px;
  right: -30px;
}
.problem-list li:nth-child(3) {
  top: 148px;
  left: -160px;
}
.problem-list li:nth-child(4) {
  top: 152px;
  right: -30px;
}
.problem-list li:nth-child(5) {
  top: 286px;
  left: -10px;
}
.problem-list li:nth-child(6) {
  top: 280px;
  right: -180px;
}
.r1-detail-tit {
  background: #fcebeb;
  font-size: 32px;
  white-space: normal;
}
.rd1-l .r1-detail-top-text {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  top: 30px;
  left: 40px;
  text-align: left;
}
.r1-detail-txt {
  font-size: 17px;
}
.rd1-r .r1-detail-top-text {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  top: 26px;
  right: 36px;
  text-align: center;
  letter-spacing: -3px;
}
.r2-detail-box01 .r2-detail-txt {
  margin: 0 0 80px;
  padding: 0 0 0 24px;
  font-size: 28px;
  line-height: 1.3;
}
.r1-detail-in-text01 {
  font-size: 34px;
  letter-spacing: -6px;
}
.r1-detail-in-text02 {
  display: block;
  margin: 0 0 0 30px;
}
.r1-detail-in-text04 {
  font-size: 34px;
  margin-right: -5px;
}
.r1-detail-in-text05 {
  color: #ff5089;
  font-size: 34px;
  letter-spacing: -4px;
}
.r1-detail-in-text06 {
  display: block;
  right: -4px;
  letter-spacing: -4px;
}
.rd1-l .r1-detail-img {
  float: right;
  position: relative;
  text-align: right;
}
.rd1-r .r1-detail-img {
  float: right;
  position: relative;
  text-align: left;
}
.r1-detail-img {
  width: 439px;
}
.r1-detail-img img {
  width: 439px;
}
.reasons-box {
  text-align: center;
  padding-top: 72px;
}
.reasons-catch {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 16px;
  top: 20px;
}
.reasons-catch::before,
.reasons-catch::after {
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: '';
  bottom: 0;
}
/* .tex-pink {
  color: #ff5089;
} */
.reasons-tit {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  white-space: normal;
}
.reasons-tit span {
  display: inline-block;
  white-space: nowrap;
}
.reasons-tit-yuumin {
  color: #ff5089;
  font-family: '游明朝', YuMincho, 'Yu Mincho', Century, YuMincho,
    'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝',
    'ＭＳ 明朝', serif;
  font-size: 68px;
  position: relative;
  top: 4px;
}

.reason-each-tit {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.reason-lead {
  background-size: 15px 96px;
  font-size: 24px;
  margin: 0 auto 60px;
  padding: 8px 48px;
  text-align: left;
  width: 580px;
  max-width: 480px;
}
.r1-detail-outer {
  margin-top: 56px;
}
.reason-lead:after {
  background-size: 51px 54px;
  height: 54px;
  top: -16px;
  width: 51px;
}
.reason-lead span {
  background: #fff79a;
  background: -webkit-linear-gradient(transparent 70%, #fff79a 0%);
  background: linear-gradient(transparent 70%, #fff79a 0%);
}
.reason-lead em {
  color: #ee7e94;
  font-size: 36px;
}
.reason-lead small {
  font-size: 16px;
}
.reason-each-tit-pink,
.reason-each-tit-pink02 {
  color: #ff5089;
  font-size: 56px;
}
.reason-each-tit-normal {
  font-size: 32px;
  display: block;
}
.reason-header {
  margin: 0 0 64px;
}
.reason-num {
  margin: 104px 0 40px;
  position: relative;
  text-align: center;
}
