/******************************************************************

Stylesheet: 1280px以下のモニタで適用

******************************************************************/
.r1-detail {

    &-txt {
        border-top: 1px dotted rgb(17, 17, 17);
        font-size: 17px;
        height: auto;
        min-height: 200px;
        margin: 0 32px;
        padding: 16px 0;
    }
}
