/******************************************************************

Stylesheet: 1280px以下のモニタで適用

******************************************************************/
.r1-detail {
    &-desc {
        min-height: 330px;
    }
    &-txt {
        border-top: 1px dotted rgb(17, 17, 17);
        font-size: 17px;
        height: auto;
        margin: 0 32px;
        padding: 16px 0;
    }
}
