/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.cover {
  background-image: url(../images/bg-cover-pc.jpg) no-repeat center top;
  background-size: cover;
  padding: 40px 0 0;
  text-align: center;
}
.header-tel-area {
  display: block;
  margin: 0 20px 0 0;
  position: absolute;
  top: 12px;
  right: 180px;
  text-align: right;
  width: 340px;
}
.avoid-area {
  border: 1px solid rgb(212 212 212);
  border-radius: 10px;
  margin: 100px auto 60px;
  padding: 2%;
  position: relative;
  text-align: center;
  vertical-align: baseline;
}

.avoid-area h3 br {
  display: none;
}
.avoid-area-text {
  margin: 10px auto 20px;
}
.avoid-area .item-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 86%;
  justify-content: space-around;
}
.avoid-area .item {
  margin: 0 auto 20px;
  width: 30%;
}
#lp-avoid {
  margin: 0 auto;
  width: 92%;
  max-width: 720px;
}
.avoid-area .item img {
  max-width: 178px;

  font-size: 16px;
}
.container.medium.lead-item-outer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#lead {
  background: #eee;
  margin: 0 auto;
}
.lead-item-outer {
  letter-spacing: -0.4em;
  padding: 58px 0;
}
.lead-item {
  background-color: rgb(255 255 255);
  display: inline-block;
  height: 300px;
  letter-spacing: normal;
  padding: 54px 2% 0;
  text-align: center;
  vertical-align: top;
  width: 32%;
}

.lead-item-ttl {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
}
.lead-item-ttl {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
}
.lead-item:first-child .lead-item-ttl::before,
.lead-item:nth-child(2) .lead-item-ttl:before,
.lead-item:last-child .lead-item-ttl:before {
  position: absolute;
  content: '';
  height: 32px;
  top: -44px;
  left: 50%;
}

.lead-item:first-child .lead-item-ttl:before {
  background: url(../images/icon-lead03.png) no-repeat;
  background-size: 43px 32px;
  margin-left: -22px;
  width: 43px;
}
.lead-item:nth-child(2) .lead-item-ttl:before {
  background: url(../images/icon-lead01.png) no-repeat;
  background-size: 43px 32px;
  margin-left: -22px;
  width: 43px;
}
.lead-item:last-child .lead-item-ttl:before {
  background: url(../images/icon-lead02.png) no-repeat;
  background-size: 37px 32px;
  margin-left: -19px;
  width: 37px;
}
.lead-item:nth-child(2) {
  margin: 0 2%;
}
.lead-item-txt {
  font-size: 15px;
  font-weight: bold;
  height: 86px;
  margin: 12px 0;
  padding-top: 16px;
  position: relative;
}
.lead-item-txt-pc-block {
  display: block;
}
.lead-item-txt:before {
  background: #fff;
  border-top: 2px solid #ff93ac;
  content: '';
  display: block;
  margin-left: -20px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 12px;
  z-index: 20;
}
.lead-item-txt-btm {
  font-size: 15px;
  margin: 0 0 14px;
}
.lead-item-smalltxt-btm {
  display: block;
  font-size: 11px;
  margin: 4px 0 0;
}
#problem {
  background: repeating-linear-gradient(-45deg, #eee, #eee 2px, #fff 4px);
  padding-top: 64px;
  position: relative;
}
#problem:after {
  background: url(../images/bg-filter.png) no-repeat center top;
  content: '';
  height: 128px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.problem-list {
  background: url(../images/bg-problem.png) no-repeat center bottom;
  height: 448px;
  margin: 0 auto;
  position: relative;
  max-width: 780px;
}
.problem-list li {
  left: 70px;
  padding: 8px 16px;
  font-size: 14px;
}

.problem-list li span {
  color: #ff5089;
  font-size: 24px;
}
.problem-list li:first-child {
  top: 0;
  left: 0;
}
.problem-list li:nth-child(2) {
  top: 24px;
  right: -30px;
}
.problem-list li:nth-child(3) {
  top: 148px;
  left: -160px;
}
.problem-list li:nth-child(4) {
  top: 152px;
  right: -30px;
}
.problem-list li:nth-child(5) {
  top: 286px;
  left: -10px;
}
.problem-list li:last-child {
  top: 280px;
  right: -180px;
}
.reason-catch {
  position: relative;
  display: inline-block;
  font-size: 20-x;
  line-height: 1;
  margin-bottom: 16px;
  top: 20px;
}
.reason-catch::before,
.reason-catch::after {
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: '';
  bottom: 0;
}
/* .tex-pink {
color: #ff5089;
} */
.reasons-tit {
  display: inline-block;
  font-style: 36px;
  font-weight: bold;
  line-height: 1;
}
/* .reasons-tit h2 br {
white-space: wrap;
display: none;
} */

.reasons-tit-yuumin {
  color: #ff5089;
  font-family: '游明朝', YuMincho, 'Yu Mincho', Century, YuMincho,
    'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝',
    'ＭＳ 明朝', serif;
  font-size: 68px;
  position: relative;
  top: 4px;
}
.reasons-box {
  text-align: center;
}
.r2-station-outer:after {
  height: 320px;
}
.r3-video-item {
  width: 680px;
}
