/******************************************************************

Stylesheet: 768px以上のモニタで適用

******************************************************************/
#cover {
  background: url(../images/bg-cover-pc.jpg) no-repeat center top;
  background-size: cover;
  height: 492px;
  padding: 40px 0 0;
  text-align: center;
}
.header-tel-area {
  display: block;
  margin: 0 20px 0 0;
  position: absolute;
  top: 12px;
  right: 180px;
  text-align: right;
  width: 340px;
}
.pc-only {
  display: inline-block !important;
}
.sp-only {
  display: none !important;
}
.header-logo {
  position: absolute;
  top: 16px;
  left: 0;
}
#header {
  margin: 0 auto;
  display: block;
  height: 104px;
  border-bottom: 2px solid #fb0000;
}
.lead-item .text-pink {
  span {
    display: inline-block;
  }
}
.cover-main .mv-pict {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 2%;
  width: 75%;
}
.person-area {
  float: right;
  position: relative;
  width: 40%;
}
#lp-avoid {
  margin: 0 auto;
  width: 92%;
  max-width: 720px;
}
.avoid-area {
  margin: 100px auto 60px;
}
.avoid-area h3 {
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: -22px;
  left: 0;
  text-align: center;
  width: 100%;
}
.avoid-area h3 br {
  display: none;
}
.avoid-area h3 span {
  background: #fff;
}
.avoid-area-text {
  margin: 10px auto 20px;
}
.avoid-area .item-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 86%;
  justify-content: space-around;
}
.avoid-area .item {
  margin: 0 auto 20px;
  width: 30%;
}
.avoid-area .item img {
  font-size: 16px;
}
.avoid-area .item p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.container.medium.lead-item-outer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#lead {
  background: #eee;
  margin: 0 auto;
}
.lead-item-outer {
  letter-spacing: -0.4em;
  padding: 58px 0;
}
.lead-item {
  background-color: rgb(255 255 255);
  display: inline-block;
  height: 300px;
  letter-spacing: normal;
  padding: 54px 2% 0;
  text-align: center;
  vertical-align: top;
  width: 32%;
}

.lead-item-ttl {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
}
.lead-item-ttl {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
}
.lead-item:first-child .lead-item-ttl::before,
.lead-item:nth-child(2) .lead-item-ttl:before,
.lead-item:last-child .lead-item-ttl:before {
  position: absolute;
  content: '';
  height: 32px;
  top: -40px;
  left: 50%;
}

.lead-item:first-child .lead-item-ttl:before {
  background: url(../images/icon-lead03.png) no-repeat;
  background-size: 43px 32px;
  margin-left: -22px;
  width: 43px;
}
.lead-item:nth-child(2) .lead-item-ttl:before {
  background: url(../images/icon-lead01.png) no-repeat;
  background-size: 22px 32px;
  margin-left: -11px;
  width: 22px;
}
.lead-item:last-child .lead-item-ttl:before {
  background: url(../images/icon-lead02.png) no-repeat;
  background-size: 37px 32px;
  margin-left: -19px;
  width: 37px;
}
.lead-item:nth-child(2) {
  margin: 0 2%;
}
.lead-item-txt {
  font-size: 15px;
  font-weight: bold;
  height: 86px;
  margin: 12px 0;
  padding-top: 16px;
  position: relative;
}
.lead-item-txt-pc-block {
  display: block;
}
.lead-item-txt:before {
  background: #fff;
  border-top: 2px solid #ff93ac;
  content: '';
  display: block;
  margin-left: -20px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 12px;
  z-index: 20;
}
.lead-item-txt-btm {
  font-size: 14px;
  margin: 0 0 14px;
}
.lead-item-smalltxt-btm {
  display: block;
  font-size: 11px;
  margin: 4px 0 0;
}
#problem {
  background: repeating-linear-gradient(-45deg, #eee, #eee 2px, #fff 4px);
  padding-top: 64px;
  position: relative;
}
#problem:after {
  background: url(../images/bg-filter.png) no-repeat center top;
  content: '';
  height: 128px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.problem-list {
  background: url(../images/bg-problem.png) no-repeat center bottom;
  background-size: auto 280px;
  height: 320px;
  margin: 0 auto;
  position: relative;
  max-width: 780px;
}
.problem-list:after {
  content: '';
  display: none;
}
.problem-list li {
  background-image: url(../images/quotation-l.png),
    url(../images/quotation-r.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 20px 26px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
  min-width: none;
}
.problem-list li br {
  display: inline;
}
.problem-list li span {
  color: #ff5089;
  font-size: 16px;
}
.problem-list li:first-child {
  top: -20px;
  left: 80px;
}
.problem-list li:nth-child(2) {
  top: -10px;
  right: 90px;
}
.problem-list li:nth-child(3) {
  top: 90px;
  left: -20px;
}
.problem-list li:nth-child(4) {
  top: 90px;
  right: 100px;
}
.problem-list li:nth-child(5) {
  top: 190px;
  left: 50px;
  margin-right: 0;
}
.problem-list li:nth-child(6) {
  top: 190px;
  right: -26px;
  margin-right: 0;
}
.reasons-box {
  text-align: center;
  padding-top: 72px;
}
.reasons-catch {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 16px;
  top: 20px;
}
.reasons-catch::before,
.reasons-catch::after {
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: '';
  bottom: 0;
}
.reasons-tit {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  max-width: 92%;
  white-space: normal;
}
.reasons-tit span {
  display: inline-block;
  white-space: nowrap;
}
.reasons-tit-yuumin {
  color: #ff5089;
  font-family: '游明朝', YuMincho, 'Yu Mincho', Century, YuMincho,
    'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝',
    'ＭＳ 明朝', serif;
  font-size: 68px;
  position: relative;
  top: 4px;
}

.reason-each-tit {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.reason-lead {
  background-size: 15px 96px;
  font-size: 24px;
  margin: 0 auto 60px;
  padding: 8px 48px;
  text-align: left;
  width: 580px;
  max-width: 480px;
}
.r1-detail-outer {
  margin-top: 56px;
}
#reason1 .reason-lead:before {
  background: url(../images/img-reason01-lead.png) no-repeat;
}
#reason2 .reason-lead:before {
  background: url(../images/img-reason02-lead.png) no-repeat;
}
.reason-lead:before {
  position: absolute;
  display: block;
  content: '';
  width: 142px;
  height: 104px;
  top: 0;
  right: 30px;
}
.reason-lead:after {
  background-size: 51px 54px;
  height: 54px;
  top: -16px;
  width: 51px;
}
.reason-lead span {
  background: #fff79a;
  background: -webkit-linear-gradient(transparent 70%, #fff79a 0%);
  background: linear-gradient(transparent 70%, #fff79a 0%);
}
.reason-lead em {
  color: #ee7e94;
  font-size: 36px;
}
.reason-lead small {
  font-size: 16px;
}
.reason-each-tit-pink,
.reason-each-tit-pink02 {
  color: #ff5089;
  font-size: 56px;
}
.reason-each-tit-normal {
  font-size: 32px;
  display: block;
}
.reason-header {
  margin: 0 0 64px;
}
.reason-num {
  margin: 104px 0 40px;
  position: relative;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.r1-detail-box {
  margin: 0 auto 5%;
  width: 47.5510204%;
}
.rd1-l {
  float: left;
}
.rd1-r {
  float: right;
}
.rd1-l .r1-detail-img {
  float: right;
  position: relative;
  text-align: right;
}
.rd1-r .r1-detail-img {
  float: left;
  position: relative;
  text-align: left;
}
.r1-detail-img img {
  width: 334px;
}
.r1-detail-in-text01 {
  color: #ff5089;
  font-size: 26px;
  letter-spacing: -2px;
}
.r1-detail-in-text02 {
  margin: 0 0 0 26px;
}
.r1-detail-in-text03 {
  display: block;
}
.r1-detail-in-text04 {
  color: #ff5089;
  font-size: 22px;
}
.r1-detail-in-text05 {
  color: #ff5089;
  font-size: 22px;
  letter-spacing: -2px;
}
.r1-detail-in-text06 {
  display: block;
}
.rd1-l .r1-detail-top-text {
  font-size: 20px;
  top: 22px;
  left: 26px;
}
.rd1-r .r1-detail-top-text {
  font-size: 20px;
  top: 18px;
  right: 20px;
}
.r1-detail-in-text01 {
  color: #ff5089;
  font-size: 34px;
  letter-spacing: -6px;
}
.r1-detail-in-text02 {
  display: block;
  margin: 0 0 0 36px;
}
.r1-detail-in-text03 {
  display: block;
}
.r1-detail-in-text04 {
  color: #ff5089;
  font-size: 26px;
}
.r1-detail-in-text05 {
  color: #ff5089;
  font-size: 26px;
  letter-spacing: -4x;
}
.r1-detail-in-text06 {
  display: block;
}
.r1-detail-desc {
  border: 1px solid #111;
  display: inline-block;
  padding: 4px;
}
.r1-detail-tit {
  background: #fcebeb;
  line-height: 1.3;
  font-size: 24px;
  font-weight: bold;
  padding: 24px 0;
  white-space: normal;
  text-align: center;
}
.r1-detail-tit span {
  font-size: 16px;
}
.r1-detail-txt {
  border-top: 1px dotted #111;
  height: 178px;
  margin: 0 32px;
  padding: 16px 0;
}
.r1-detail-btm-box {
  display: inline-block;
  margin: 4% 0 0;
  text-align: center;
  width: 100%;
}
.r1-detail-btm-desc {
  border: 1px solid #111;
  display: block;
  margin: 0 auto;
  padding: 4px;
  width: 466px;
}
.r1-detail-btm-tit {
  background: #fcebeb;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
  padding: 24px 0;
  text-align: center;
}

.r1-detail-btm-table {
  border-top: 1px dotted #111;
  display: inline-block;
  font-size: 16px;
  margin: 0 7%;
  padding: 16px 0;
  text-align: center;
  width: 86%;
}
.r1-detail-btm-table tbody {
  display: inline-block;
  width: 100%;
}
.r1-detail-btm-table tr {
  border-bottom: 1px dotted #111;
  display: inline-block;
  width: 100%;
}
.r1-detail-btm-table tr:last-child {
  border-bottom: none;
}
.r1-detail-btm-table td {
  border-right: 1px dotted #111;
  display: inline-block;
  padding: 4px 0;
  width: 50%;
}
.reason1.container {
  display: flex;
}
.reason-each-tit-cont {
  font-size: 22px;
  display: block;
  line-height: 1;
  margin: 0 0 6px;
  text-align: center;
}
.r2-detail-box01 {
  margin: 0 0 64px;
  position: relative;
}
.r2-detail-box-inn:first-child h5 br {
  display: block;
}
.r2-detail-box01 .r2-detail-txt:before {
  background: url(../images/icon-am.png) no-repeat;
  background-size: 48px;
  counter-reset: '';
  display: block;
  height: 48px;
  position: absolute;
  top: -10px;
  left: 24px;
  width: 48px;
}
.r2-detail-box01 .r2-detail-txt {
  display: block;
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 80px;
  padding: 0 0 0 60px;
  position: relative;
}
.r2-detail-box01 .r2-detail-txt:after {
  background: url(../images/morning.png) no-repeat;
  background-size: 232px 52px;
  content: '';
  display: block;
  height: 52px;
  margin-left: -116px;
  position: absolute;
  bottom: -68px;
  left: 50%;
  width: 232px;
}
.r2-detail-box01 .r2-detail-box-inn {
  float: left;
  position: relative;
  text-align: center;
  width: 310px;
}
.r2-detail-box01 .r2-detail-txt-btm {
  font-size: 16px;
  text-align: left;
}
.r2-detail-box01 .r2-detail-img {
  float: right;
  margin-left: -340px;
  width: 100%;
}
.r2-detail-box01 img {
  max-width: 100%;
  height: auto;
  outline: none;
  vertical-align: bottom;
}
.r2-detail-box01 .r2-detail-img > div {
  margin-left: 340px;
}
.r2-detail-box02 {
  margin: 0 0 64px;
  position: relative;
}
.r2-detail-box02 .r2-detail-txt:before {
  background: url(../images/icon-holiday.png) no-repeat;
  background-size: 48px;
  counter-reset: '';
  display: block;
  position: absolute;
  height: 48px;
  top: -10px;
  left: 12px;
  width: 48px;
}
.r2-detail-box02 .r2-detail-txt {
  display: block;
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 80px;
  padding: 0 0 0 30px;
  position: relative;
}
.r2-detail-box02 .r2-detail-txt:after {
  background: url(../images/holiday.png) no-repeat;
  background-size: 117px 55px;
  content: '';
  display: block;
  position: absolute;
  height: 55px;
  margin-left: -58px;
  bottom: -68px;
  left: 50%;
  width: 117px;
}
.r2-detail-box02 .r2-detail-box-inn {
  float: right;
  position: relative;
  text-align: center;
  width: 310px;
}
.r2-detail-box02 .r2-detail-img {
  float: left;
  margin-right: -340px;
  width: 100%;
}
.r2-detail-box02 img {
  max-width: 100%;
  height: auto;
  outline: none;
  vertical-align: bottom;
}
.r2-detail-box02 .r2-detail-img > div {
  margin-right: 340px;
}
.r2-detail-box02 .r2-detail-txt-btm {
  font-size: 16px;
  text-align: left;
}
.r2-detail-box03 {
  margin: 0;
  position: relative;
}

.r2-detail-box03 .r2-detail-txt {
  display: block;
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 80px;
  padding: 0 0 0 24px;
  position: relative;
}
.r2-detail-box03 .r2-detail-txt:before {
  background: url(../images/icon-night.png) no-repeat;
  background-size: 48px;
  counter-reset: '';
  display: block;
  height: 48px;
  position: absolute;
  top: -10px;
  left: 12px;
  width: 48px;
}
.r2-detail-box03 .r2-detail-txt:after {
  background: url(../images/afterwork.png) no-repeat;
  background-size: 176px 46px;
  content: '';
  display: block;
  height: 46px;
  margin-left: -88px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 176px;
}
.r2-detail-box03 .r2-detail-box-inn {
  float: left;
  position: relative;
  text-align: center;
  width: 310px;
}
.r2-detail-box03 .r2-detail-txt-btm {
  font-size: 16px;
  text-align: left;
}
.r2-detail-box03 .r2-detail-img {
  float: right;
  margin-left: -340px;
  width: 100%;
}
.r2-detail-box03 img {
  max-width: 100%;
  height: auto;
  outline: none;
  vertical-align: bottom;
}
.r2-detail-box03 .r2-detail-img > div {
  margin-left: 340px;
}
.r2-classroom {
  display: block;
  margin-top: 120px;
  text-align: center;
}
.r2-classroom-header::before {
  background: url(../images/flag-pink_l.png) no-repeat;
  left: -50px;
}
.r2-classroom-header::after {
  background: url(../images/flag-pink_r.png) no-repeat;
  right: -50px;
}
.r2-classroom-catch {
  position: relative;
  display: inline-block;
  font-style: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
  top: 0;
}
.r2-classroom-catch::before,
.r2-classroom-catch::after {
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: '';
  bottom: 0;
}
.r2-classroom-catch::before {
  background: url(../images/cheer-d_l.png) no-repeat;
  left: -24px;
}
.r2-classroom-catch::after {
  background: url(../images/cheer-d_r.png) no-repeat;
  right: -24px;
}
.r2-classroom-tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 30px;
}
.r2-classroom-txt {
  font-size: 16px;
  margin: 0 auto 40px;
  min-width: 520px;
}
.r2-classroom-img.clearfix {
  display: flex;
  justify-content: space-between;
}
.r2-classroom-img > div {
  float: left;
  margin: 0 0 2% 0;
  width: 32%;
}
.r2-classroom-img > div img {
  display: inline-block;
  width: 100%;
}
#r2-station {
  margin-top: 64px;
}
.r2-station-outer {
  padding: 160px 0;
}
.r2-station-outer:before {
  border-width: 40px 100px 0 100px;
  content: '';
  margin-left: -100px;
}
.r2-station-box {
  position: relative;
  background: rgb(255 255 255);
  margin: 0 auto;
  padding: 32px 16px 40px;
  text-align: center;
  width: 520px;
}

.r2-station-sub-tit:before {
  background: url(../images/cheer-s_l.png) no-repeat;
  background-size: 14px 24px;
  top: 50%;
  height: 24px;
  left: -20px;
  width: 14px;
}
.r2-station-sub-tit:after {
  background: url(../images/cheer-s_r.png) no-repeat;
  background-size: 14px 24px;
  top: 50%;
  height: 24px;
  right: -20px;
  width: 14px;
}
.r2-station-tit {
  font-size: 40px;
  margin-bottom: 24px;
}
.r2-station-txt {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  position: relative;
  margin: 0 0 20px;
}
.r2-station-txt-btm {
  padding: 0 16px;
}
.r2-station-txt:before {
  background-image: linear-gradient(
    to right,
    #d3d3d3,
    #d3d3d3 85.71429%,
    rgba(0, 0, 0, 0) 85.71429%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 6px 6px;
  content: '';
  display: block;
  height: 2px;
  margin-left: -60px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 120px;
}
.r2-station-txt-btm {
  font-size: 16px;
  max-width: 400px;
  margin: 0 auto;
}
.r2-station-outer:after {
  background: url(../images/img-station.png) no-repeat;
  height: 200px;
  width: 260px;
}
#reason3 .reason-lead:before {
  background: url(../images/img-reason03-lead.png) no-repeat;
}
.reason-lead em {
  color: rgb(238 126 148);
  font-size: 36px;
}
.r3-video {
  margin-top: 56px;
  padding-bottom: 80px;
  text-align: left;
  text-align: center;
}
.r3-video-tit {
  font-size: 24px;
  margin: 0 0 20px;
}

.r3-video-tit:before {
  background-size: 14px 24px;
  height: 24px;
  margin-top: -12px;
  left: -32px;
  width: 14px;
}
.r3-video-text-area {
  display: block;
  margin: 0 auto;
  max-width: 680px;
  text-align: center;
}
.r3-video-btm-txt {
  margin: 0 auto 20px;
}
.r3-video-item {
  background: repeating-linear-gradient(
    -45deg,
    #f4d1db,
    #f4d1db 5px,
    #f5d6df 5px,
    #f5d6df 10px
  );
  border-radius: 8px;
  margin: 0 auto;
  padding: 24px 56px;
  width: 480px;
}
.r3-video-audience-area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
}
.r3-video-audience-pict {
  width: 214px;
}
.youtube img {
  width: 100%;
}
.r3-video-audience-pict img {
  width: 100%;
}
.r3-video-audience-text {
  top: 17px;
  left: 67px;
}
.r3-anytime:before {
  background: url(../images/bg-anytime.jpg) no-repeat right top;
  content: '';
  height: 100%;
  width: 50%;
}
.r3-anytime-box {
  margin-left: auto;
  width: 600px;
}
.r3-anytime-tit {
  font-size: 28px;
}
.r3-anytime-img img {
  width: 119px;
  height: auto;
}
.r3-anytime-txt {
  margin-top: 8px;
  font-size: 17px;
  font-weight: bold;
}
.r3-anytime-sum {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 40px;
}
.r3-anytime-sum span {
  color: rgb(222 38 76);
}
.r3-anytime-desc {
  border-left: 1px dotted #bfbfbf;
  display: table;
  margin-top: 40px;
  table-layout: fixed;
  width: 100%;
}
.r3-anytime-item {
  border-right: 1px dotted #bfbfbf;
  display: table-cell;
  vertical-align: top;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: transate3d(0, 0, 0);
  -moz-transform: traslate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}
.slick-arrow.slick-hidden {
  display: none;
}
.r3-dream {
  background-image: url(../images/grd_white.png), url(../images/bg-dream.jpg);
  background-repeat: repeat-x, no-repeat;
  background-position: left top, center center;
  background-size: auto, cover;
  margin-top: 104px;
  padding-bottom: 216px;
}
.r3-dream:after,
#perorate:after {
  height: 40px;
  background: url(../images/bg-filter2.png) no-repeat center top;
}
.r3-dream-catch img {
  width: 455px;
  height: 24px;
}
.r3-dream-tit {
  font-weight: bold;
  font-size: 32px;
  margin-top: 16px 0 64px;
}
.r3-dream-tit span {
  font-size: 48px;
}
.r3-dream-item {
  background: #f191a4;
  width: 200px;
  margin: 0 16px;
}
.r3-dream-item:first-child {
  display: inline-block;
}
.r3-dream-item:last-child {
  margin-left: 0;
}
.r3-dream-item-inn {
  background: #f191a4;
  border: 1px solid #fff;
  color: #fff;
  padding: 40px 0;
}
.r3-dream-jp {
  font-size: 22px;
  margin-top: 10px;
  padding-top: 10px;
}
.r3-dream-jp:before {
  background: #fff;
  display: block;
  content: '';
  height: 1px;
  margin-left: -24px;
  width: 48px;
  position: absolute;
  top: 0;
  left: 50%;
}
.r3-dream-en {
  font-size: 18px;
}
.application {
  padding: 100px 0;
}
.btn-app-txt {
  font-size: 20px;
  margin-bottom: 16px;
}
.btn-app-txt:before,
.btn-app-txt:after {
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
}
.btn-app-txt:before {
  background: url(../images/cheer-d_l.png) no-repeat;
  left: -24px;
}
.btn-app-txt:after {
  background: url(../images/cheer-d_r.png) no-repeat;
  right: -24px;
}
.btn-app {
  margin: 0 auto;
  width: 580px;
}
.btn-app a {
  font-size: 22px;
  padding: 28px 0;
}
.btn-app a span {
  display: contents;
}
#message {
  background: repeating-linear-gradient(
    -45deg,
    #f8b4c4,
    #f8b4c4 40px,
    #f9bac9 40px,
    #f9bac9 80px
  );
  padding: 64px 40px;
}
.message-outer {
  background: #fff;
  padding: 64px 40px 0;
}
.message-tit {
  font-size: 40px;
  text-align: center;
}
.message-desc {
  padding: 56px 0 64px 0;
}
#instructor {
  padding: 96px 0;
}

.inst-tit {
  font-size: 56px;
}
.cm-lead-box {
  font-size: 18px;
  margin: 32px auto 0;
  padding: 16px 40px;
  text-align: center;
  width: 600px;
}
#inst-body {
  margin: 0 auto;
  padding: 24px 40px;
  width: 680px;
}
#inst-nav {
  margin: 40px 40px 0;
  z-index: 1;
}
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -40px;
}
#inst-nav li {
  width: 120px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
#inst-nav li .inst-face img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto;
}
.inst-name {
  font-size: 14px;
  font-weight: bold;
}
#student {
  padding-top: 136px;
}
.student-tit {
  font-size: 32px;
}
.voice-thumb {
  display: block;
  margin-bottom: 8px;
  text-align: center;
  width: 200px;
}
.voice-thumb img {
  border: 4px solid rgb(255 217 227);
}
.voice-box:nth-child(odd) .voice-thumb {
  float: left;
}
.voice-box:nth-child(even) .voice-thumb {
  float: right;
}
.voice-desc {
  width: 100%;
}
.voice-box:nth-child(odd) .voice-desc {
  float: right;
  margin-left: -200px;
}
.voice-box:nth-child(even) .voice-desc {
  float: left;
  margin-right: -200px;
}
.voice-box:nth-child(odd) .voice-desc-inn {
  margin-left: 240px;
}
.voice-box:nth-child(even) .voice-desc-inn {
  margin-right: 240px;
}
.v-school {
  background: rgb(255 147 172);
}
.voice-box:after {
  background: url(../images/voice-corner_bottom.png) no-repeat;
  background-size: 48px;
  content: '';
  display: block;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
}
.other-voice {
  background: none;
  // margin-top: 64px;
  padding: 36px 0 96px;
  position: relative;
}
.other-voice:before {
  background: url(../images/bg-othervoice.jpg) no-repeat left top;
  display: inline-block;
  content: '';
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 144px;
}
.other-voice-list {
  letter-spacing: -0.3em;
  margin: 0 auto 32px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.other-voice-list li:nth-child(odd) {
  margin-right: 20px;
}
.other-voice-list li {
  background: rgb(255 239 243);
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: 16px;
  padding: 16px;
  position: relative;
  width: 300px;
}

.arw-pink {
  background: url(../images/arrow-pink_l.png) no-repeat left center;
  background-size: 16px;
  display: inline-block;
  padding-left: 20px;
}
#flow {
  padding: 136px 0 96px;
}
.flow-outer {
  padding-right: 40px;
  letter-spacing: -0.4em;
}
.flow-tit {
  font-size: 24px;
  margin-bottom: 56px;
}
.flow-tit span {
  font-size: 32px;
}
.flow-item {
  display: inline-block;
  letter-spacing: normal;
  padding: 24px 40px;
  vertical-align: top;
  max-width: 37%;
}
.flow-item:nth-child(odd) {
  margin-right: 40px;
}
.flow-item:nth-child(even) {
  margin-right: -40px;
}
.flow-item-catch {
  background: rgb(255 147 172);
  border-radius: 8px;
  color: rgb(255 255 255);
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  width: 240px;
}
.flow-item-txt {
  padding-top: 16px;
}
.flow-item:after {
  background-size: 96px;
  height: 96px;
  width: 96px;
}
#perorate {
  padding: 140px 0 180px;
  background-size: auto;
}
.perorate-catch img {
  max-width: 100%;
  outline: none;
  vertical-align: bottom;
}
.perorate-catch img {
  height: 164px;
  width: auto;
}
#footer .footer-school li,
#footer .footer-info li {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid rgb(34 34 34);
}
