@charset "UTF-8";
/*--------------------------------------------------------------
   RESET
--------------------------------------------------------------*/
/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

#header {
  border-bottom: 2px solid rgb(251, 0, 0);
  display: block;
  height: 104px;
}

.header-ttl {
  background: rgb(238, 238, 238);
  height: 20px;
}
.header-ttl h1 {
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  width: 92%;
  max-width: 980px;
}
.header-logo {
  position: absolute;
  top: 16px;
  left: 0;
}
.header-tel-area {
  display: block;
  margin: 0 20px 0 0;
  position: absolute;
  top: 12px;
  right: 180px;
  text-align: right;
  width: 340px;
}
.header-tel-area a {
  background: url(../image/tel-mark.png) no-repeat left 4px;
  background-size: 35px 25px;
  color: rgb(136, 136, 136);
  padding: 0 0 0 44px;
  display: inline-block;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1.2px;
  text-decoration: none;
}
.header-tel-txt01, .header-tel-txt02 {
  color: rgb(136, 136, 136);
  display: block;
  line-height: 1.2;
  font-size: 12px;
}
.header-contact {
  border-radius: 4px;
  display: block;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 18px;
  right: 0;
  text-align: center;
  width: 180px;
}

.logo a img {
  width: 247px;
}

.container {
  position: relative;
  width: 92%;
  max-width: 980px;
  margin: 0 auto;
}
.container.medium {
  max-width: 720px;
  display: flex;
  justify-content: space-between;
}

#cover {
  background: url(../image/bg-cover-pc.jpg) no-repeat center top;
  background-size: cover;
  padding: 40px 0 0;
  text-align: center;
}

.cover-main {
  display: block;
  margin: 0 auto;
  max-width: 980px;
  position: relative;
}

.cover-main .mv-pict {
  display: inline-block;
  position: absolute;
  top: 7.6045627%;
  left: 1%;
  width: 65.3061224%;
}

.person-area {
  float: right;
  position: relative;
  width: 40%;
}

#lp-avoid {
  margin: 0 auto;
  width: 92%;
  max-width: 720px;
}

.avoid-area {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  margin: 100px auto 60px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.avoid-area h3 {
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: -22px;
  left: 0;
  text-align: center;
  width: 100%;
}
.avoid-area h3 span {
  background: rgb(255, 255, 255);
}
.avoid-area h3 br {
  display: none;
}
.avoid-area-text {
  margin: 10px auto 20px;
}
.avoid-area .item {
  margin: 0 10px;
  width: 30%;
}
.avoid-area .item-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 92%;
  justify-content: space-around;
}
.avoid-area .item img {
  font-size: 16px;
}
.avoid-area .item p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#lead {
  background: rgb(238, 238, 238);
  margin: 0 auto 20px;
}

.lead-item {
  background: #fff;
  display: inline-block;
  height: auto;
  letter-spacing: normal;
  padding: 54px 1.5% 6px;
  text-align: center;
  vertical-align: top;
  line-height: 1.3;
  width: 32%;
}
.lead-item-outer {
  letter-spacing: -0.4em;
  padding: 58px 0;
}
.lead-item:first-child .lead-item-ttl:before {
  background: url(../image/icon-lead03.png) no-repeat;
  background-size: 43px 32px;
  margin-left: -22px;
  width: 43px;
}
.lead-item:nth-child(2) .lead-item-txt-btm span {
  display: inline;
}
.lead-item-ttl {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
}
.lead-item span {
  display: inline-block;
}
.lead-item br {
  display: inline;
}
.lead-item-txt {
  font-size: 16px;
  font-weight: bold;
  height: 86px;
  margin: 12px 0;
  padding-top: 16px;
  position: relative;
}
.lead-item-txt:before {
  border-top: 2px solid rgb(255, 147, 172);
  content: "";
  display: block;
  margin-left: -20px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
}
.lead-item-smalltxt-btm {
  display: block;
  font-size: 11px;
  margin: 4px 0 0;
}

.lead-item:first-child .lead-item-ttl::before,
.lead-item:nth-child(2) .lead-item-ttl::before,
.lead-item:last-child .lead-item-ttl::before {
  position: absolute;
  content: "";
  height: 32px;
  top: -44px;
  left: 50%;
}

.lead-item:nth-child(2) .lead-item-ttl:before {
  background: url(../image/icon-lead01.png) no-repeat;
  background-size: 22px 32px;
  margin-left: -16px;
  width: 22px;
}

.lead-item:last-child .lead-item-ttl:before {
  background: url(../image/icon-lead02.png) no-repeat;
  background-size: 37px 32px;
  margin-left: -22px;
  width: 37px;
}

#problem {
  background: repeating-linear-gradient(-45deg, #eee, #eee 2px, #fff 4px);
  padding-top: 64px;
  position: relative;
}
#problem:after {
  background: url(../image/bg-filter.png) no-repeat center top;
  content: "";
  height: 128px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.problem-list {
  background: url(../image/bg-problem.png) no-repeat center bottom;
  height: 448px;
  margin: 0 auto;
  position: relative;
  max-width: 768px;
}
.problem-list li {
  background-image: url(../image/quotation-l.png), url(../image/quotation-r.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 20px 26px;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
}
.problem-list li span {
  color: rgb(255, 80, 137);
  font-size: 24px;
}
.problem-list li:first-child {
  top: 0;
  left: 0;
}
.problem-list li:nth-child(2) {
  top: 24px;
  right: -30px;
}
.problem-list li:nth-child(3) {
  top: 148px;
  left: -160px;
}
.problem-list li:nth-child(4) {
  top: 152px;
  right: -30px;
}
.problem-list li:nth-child(5) {
  top: 286px;
  left: -10px;
}
.problem-list li:nth-child(6) {
  top: 280px;
  right: -180px;
}

.reasons-box {
  text-align: center;
  padding-top: 72px;
}
.reasons-catch {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
  top: 0;
}
.reasons-catch:before {
  background: url(../image/cheer-d_l.png) no-repeat;
  left: -24px;
}
.reasons-catch:after {
  background: url(../image/cheer-d_r.png) no-repeat;
  right: -24px;
}
.reasons-tit {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
.reasons-tit-yuumin {
  position: relative;
  font-size: 64px;
  font-family: "Yu MIncho";
  color: rgb(255, 80, 137);
  top: 4px;
}

.reasons-catch:before,
.reasons-catch:after {
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: "";
  bottom: 0;
}

#reason1 .reason-lead:before {
  background: url(../image/img-reason01-lead.png) no-repeat;
}

#reason2 .reason-lead:before {
  background: url(../image/img-reason02-lead.png) no-repeat;
}

.reason-header {
  margin: 0 0 64px;
}
.reason-num {
  margin: 104px 0 40px;
  position: relative;
  text-align: center;
}
.reason-num:before {
  position: absolute;
  content: "";
  width: 100%;
  background: rgb(204, 204, 204);
  top: 50%;
  display: block;
  height: 1px;
  z-index: 1;
}
.reason-num span {
  background: rgb(255, 255, 255);
  display: inline-block;
  padding: 0 16px;
  position: relative;
  z-index: 2;
}
.reason-num img {
  width: 72px;
  height: 72px;
}
.reason-each-tit {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.reason-each-tit02 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.reason-each-tit03 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.reason-each-tit-cont {
  font-size: 22px;
  display: block;
  line-height: 1;
  margin: 0 0 6px;
  text-align: center;
}
.reason-each-tit-cont span {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.reason-each-tit-cont span::before {
  background: url(../image/cheer-d_l.png) no-repeat;
  left: -24px;
}
.reason-each-tit-cont span::after {
  background: url(../image/cheer-d_r.png) no-repeat;
  right: -24px;
}
.reason-each-tit-pink02 {
  color: rgb(255, 80, 137);
  font-size: 56px;
}
.reason-each-tit-pink0202 {
  color: rgb(255, 80, 137);
  font-size: 56px;
}
.reason-lead {
  background-image: url(../image/quotation02-l.png), url(../image/quotation02-r.png);
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: 15px 96px;
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 60px;
  padding: 8px 48px;
  position: relative;
  width: 580px;
}
.reason-lead:before {
  position: absolute;
  display: block;
  content: "";
  width: 142px;
  height: 104px;
  top: 0;
  right: 40px;
}
.reason-lead:after {
  background: url(../image/icon-check.png) no-repeat;
  background-size: 51px 54px;
  content: "";
  display: block;
  height: 54px;
  position: absolute;
  top: -16px;
  left: -16px;
  width: 51px;
}
.reason-lead em {
  color: rgb(255, 80, 137);
  font-size: 36px;
}
.reason-lead span {
  background: linear-gradient(transparent 70%, #fff79a 0%);
  background: -webkit-linear-gradient(transparent 70%, #fff79a 0%);
}

.reason-each-tit-cont span:before, .reason-each-tit-cont span::after {
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: "";
  bottom: 0;
}

.r1-detail-outer {
  margin-top: 56px;
}
.r1-detail-outer-box {
  margin: 0 auto 5%;
  width: 47.55%;
}
.r1-detail-outer-img img {
  width: 439px;
}
.r1-detail-in-text01 {
  color: rgb(255, 80, 137);
  font-size: 34px;
  letter-spacing: -6px;
}
.r1-detail-in-text02 {
  display: block;
  margin: 0 0 0 36px;
}
.r1-detail-in-text03 {
  display: block;
}
.r1-detail-in-text04 {
  display: inline;
  color: rgb(255, 80, 137);
  font-size: 34px;
}
.r1-detail-in-text05 {
  display: inline;
  color: rgb(255, 80, 137);
  font-size: 34px;
  letter-spacing: -4px;
}
.r1-detail-in-text06 {
  display: block;
}
.r1-detail-desc {
  border: 1px solid rgb(17, 17, 17);
  display: inline-block;
  padding: 4px;
}
.r1-detail-desc span {
  display: inline;
}
.r1-detail-tit {
  background: rgb(252, 235, 235);
  line-height: 1.3;
  font-size: 32px;
  font-weight: bold;
  padding: 24px 0;
  text-align: center;
}
.r1-detail-txt {
  border-top: 1px dotted rgb(17, 17, 17);
  font-size: 17px;
  height: 178px;
  margin: 0 32px;
  padding: 16px 0;
}
.r1-detail-box {
  margin: 0 auto 5%;
  width: 47.55%;
}
.r1-detail-btm-table {
  border-top: 1px dotted rgb(17, 17, 17);
  display: inline-block;
  font-size: 18px;
  margin: 0 7%;
  padding: 16px 0;
  text-align: center;
  width: 86%;
}
.r1-detail-btm-table tbody {
  display: inline-block;
  width: 100%;
}
.r1-detail-btm-table tr {
  border-bottom: 1px dotted rgb(17, 17, 17);
  display: inline-block;
  width: 100%;
}
.r1-detail-btm-table tr:last-child {
  border-bottom: none;
}
.r1-detail-btm-table td {
  border-right: 1px dotted rgb(17, 17, 17);
  display: inline-block;
  width: 49%;
  padding: 4px 0;
}
.r1-detail-btm-table td:nth-child(even) {
  border-right: none;
}

.rd1-l {
  float: left;
}
.rd1-l .r1-detail-img {
  float: right;
  position: relative;
  text-align: right;
}
.rd1-l .r1-detail-top-text {
  display: inline-block;
  font-family: "游明朝", YuMincho, "Yu Mincho", Century, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  top: 30px;
  left: 30px;
  text-align: left;
}

.rd1-r {
  float: right;
}
.rd1-r .r1-detail-img {
  float: left;
  position: relative;
  text-align: left;
}
.rd1-r .r1-detail-img .r1-detail-top-text {
  display: inline-block;
  font-family: "游明朝", YuMincho, "Yu Mincho", Century, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  top: 26px;
  right: 30px;
  text-align: center;
}

.r2-detail-box01 {
  margin: 0 0 64px;
  position: relative;
}
.r2-detail-box01 .r2-detail-box-inn {
  float: left;
  position: relative;
  text-align: center;
  width: 310px;
}
.r2-detail-box01 .r2-detail-txt {
  display: block;
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 80px;
  padding: 0 0 0 24px;
  position: relative;
}
.r2-detail-box01 .r2-detail-txt:before {
  background: url(../image/icon-am.png) no-repeat;
  background-size: 48px;
  content: "";
  display: block;
  height: 48px;
  position: absolute;
  top: -10px;
  left: 12px;
  width: 48px;
}
.r2-detail-box01 .r2-detail-txt:after {
  background: url(../image/morning.png) no-repeat;
  content: "";
  display: block;
  position: absolute;
  background-size: 232px 52px;
  height: 52px;
  margin-left: -116px;
  bottom: -68px;
  left: 50%;
  width: 232px;
}
.r2-detail-box01 .r2-detail-txt-bl {
  display: block;
}
.r2-detail-box01 .r2-detail-txt-btm {
  font-size: 16px;
  text-align: left;
}
.r2-detail-box01 .r2-detail-img {
  float: right;
  margin-left: -340px;
  width: 100%;
}
.r2-detail-box01 .r2-detail-img > div {
  margin-left: 340px;
}
.r2-detail-box02 {
  margin: 0 0 64px;
  position: relative;
}
.r2-detail-box02 .r2-detail-box-inn {
  float: right;
  position: relative;
  text-align: center;
  width: 310px;
}
.r2-detail-box02 .r2-detail-txt {
  display: block;
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 80px;
  padding: 0 0 0 30px;
  position: relative;
}
.r2-detail-box02 .r2-detail-txt:before {
  background: url(../image/icon-holiday.png) no-repeat;
  background-size: 48px;
  content: "";
  display: block;
  height: 48px;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 48px;
}
.r2-detail-box02 .r2-detail-txt:after {
  background: url(../image/holiday.png) no-repeat;
  content: "";
  display: block;
  position: absolute;
  background-size: 117px 55px;
  height: 55px;
  margin-left: -58px;
  bottom: -68px;
  left: 50%;
  width: 117px;
}
.r2-detail-box02 .r2-detail-txt-btm {
  font-size: 16px;
  text-align: left;
}
.r2-detail-box02 .r2-detail-img {
  float: left;
  margin-right: -340px;
  width: 100%;
}
.r2-detail-box02 .r2-detail-img > div {
  margin-right: 340px;
}
.r2-detail-box03 {
  margin: 0 0 64px;
  position: relative;
}
.r2-detail-box03 .r2-detail-box-inn {
  float: left;
  position: relative;
  text-align: center;
  width: 310px;
}
.r2-detail-box03 .r2-detail-txt {
  display: block;
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 80px;
  padding: 0 0 0 24px;
  position: relative;
}
.r2-detail-box03 .r2-detail-txt:before {
  background: url(../image/icon-night.png) no-repeat;
  background-size: 48px;
  content: "";
  display: block;
  height: 48px;
  position: absolute;
  top: -10px;
  left: -14px;
  width: 48px;
}
.r2-detail-box03 .r2-detail-txt:after {
  background: url(../image/afterwork.png) no-repeat;
  content: "";
  display: block;
  position: absolute;
  background-size: 176px 46px;
  height: 46px;
  margin-left: -88px;
  bottom: -60px;
  left: 50%;
  width: 176px;
}
.r2-detail-box03 .r2-detail-txt-bl {
  display: block;
}
.r2-detail-box03 .r2-detail-txt-btm {
  font-size: 16px;
  text-align: left;
}
.r2-detail-box03 .r2-detail-img {
  float: right;
  margin-left: -340px;
  width: 100%;
}
.r2-detail-box03 .r2-detail-img > div {
  margin-left: 340px;
}

.r2-classroom {
  display: block;
  margin-top: 120px;
  text-align: center;
}
.r2-classroom-header {
  position: relative;
  display: inline-block;
}
.r2-classroom-header:before {
  background: url(../image/flag-pink_l.png) no-repeat;
  left: -50px;
}
.r2-classroom-header:after {
  background: url(../image/flag-pink_r.png) no-repeat;
  right: -50px;
}
.r2-classroom-catch {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
  top: 0;
}
.r2-classroom-catch:before {
  background: url(../image/cheer-d_l.png) no-repeat;
  left: -24px;
}
.r2-classroom-catch:after {
  background: url(../image/cheer-d_r.png) no-repeat;
  right: -24px;
}
.r2-classroom-tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 30px;
}
.r2-classroom-txt {
  font-size: 16px;
  margin: 0 auto 40px;
  max-width: 520px;
}
.r2-classroom-img > div {
  float: left;
  margin: 0 1% 0 0;
  width: 32.65%;
}
.r2-classroom-img > div:last-child {
  margin: 0;
}

.r2-classroom-header:before, .r2-classroom-header:after {
  display: block;
  content: "";
  height: 56px;
  position: absolute;
  top: 0;
  width: 98px;
}

.r2-classroom-catch:before, .r2-classroom-catch:after {
  content: "";
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  bottom: 0;
}

#r2-station {
  background: url(../image/bg-station.jpg) no-repeat center bottom;
  background-size: cover;
  margin-top: 64px;
}

.r2-station-outer {
  padding: 160px 0;
}
.r2-station-outer:before {
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  border-width: 40px 100px 0 100px;
  content: "";
  display: block;
  height: 0;
  margin-left: -100px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
}
.r2-station-outer:after {
  background: url(../image/img-station.png) no-repeat left top;
  display: block;
  content: "";
  height: 320px;
  width: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.r2-station-box {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 32px 16px 40px;
  position: relative;
  text-align: center;
  width: 520px;
}
.r2-station-sub-tit {
  display: inline-block;
  font-size: 16px;
  position: relative;
}
.r2-station-sub-tit:before {
  background: url(../image/cheer-s_l.png) no-repeat;
  background-size: 14px 24px;
  content: "";
  display: block;
  height: 24px;
  width: 14px;
  position: absolute;
  left: -20px;
}
.r2-station-sub-tit:after {
  background: url(../image/cheer-s_r.png) no-repeat;
  background-size: 14px 24px;
  content: "";
  display: block;
  height: 24px;
  margin-top: -12px;
  position: absolute;
  top: 12px;
  right: -20px;
  width: 14px;
}
.r2-station-tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 24px;
}
.r2-station-txt {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  margin: 0 0 20px;
  position: relative;
}
.r2-station-txt:before {
  background-image: linear-gradient(to right, #d3d3d3, #d3d3d3 85.71429%, rgba(0, 0, 0, 0) 85.71429%, rgba(0, 0, 0, 0) 100%);
  background-size: 6px 6px;
  content: "";
  display: block;
  height: 2px;
  width: 120px;
  margin-left: -60px;
  position: absolute;
  top: 0;
  left: 50%;
}
.r2-station-txt-btm {
  font-size: 16px;
  max-width: 400px;
  margin: 0 auto;
}

.r3-video {
  margin-top: 56px;
  padding-bottom: 80px;
  position: relative;
  text-align: left;
}
.r3-video-text-area {
  display: block;
  margin: 0 auto;
  max-width: 680px;
  text-align: center;
}
.r3-video-tit {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
  position: relative;
}
.r3-video-btm-txt {
  display: block;
  max-width: 380px;
  margin: 0 auto 20px;
}
.r3-video-item {
  display: block;
  width: 680px;
  background: repeating-linear-gradient(-45deg, #f4d1db, #f4d1db 5px, #f5d6df 5px, #f5d6df 10px);
  border-radius: 8px;
  margin: 0 auto;
  padding: 24x 56px;
}
.r3-video-audience-area {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.r3-video-audience-pict {
  display: inline-block;
  width: 214px;
}
.r3-video-audience img {
  width: 100%;
}
.r3-video-audience-text {
  font-size: 14px;
  line-height: 1.4;
  position: absolute;
  top: 17px;
  left: 67px;
  text-align: center;
  transform: rotate(16deg);
}
.r3-video-audience-text span {
  display: block;
  font-weight: bold;
}
.r3-anytime {
  background: repeating-linear-gradient(-45deg, rgb(248, 180, 196), rgb(248, 180, 196) 40px, rgb(249, 186, 201) 40px, rgb(249, 186, 201) 80px);
  padding: 80px 0;
  position: relative;
}
.r3-anytime:before {
  background: #fff url(../image/bg-anytime.jpg) no-repeat right top;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.r3-anytime-box {
  background: rgb(255, 255, 255);
  margin-left: auto;
  padding: 56px 46px;
  text-align: center;
  width: 600px;
}
.r3-anytime-tit {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.3;
  position: relative;
}
.r3-anytime-tit:before {
  background: url(../image/catch-anytime.png) no-repeat;
  background-size: 150px 20px;
  content: "";
  display: block;
  height: 20px;
  margin-left: -75px;
  position: absolute;
  top: -28px;
  left: 50%;
  width: 150px;
}
.r3-anytime-desc {
  border-left: 1px dotted rgb(191, 191, 191);
  display: table;
  margin-top: 40px;
  table-layout: fixed;
  width: 100%;
}
.r3-anytime-item {
  border-right: 1px dotted rgb(191, 191, 191);
  display: table-cell;
  vertical-align: top;
}
.r3-anytime-img img {
  width: 80px;
  height: auto;
}
.r3-anytime-txt {
  font-size: 17px;
  font-weight: bold;
  margin-top: 8px;
}
.r3-anytime-sum {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 40px;
}
.r3-event {
  padding: 104px 0;
}
.r3-event-header {
  margin-bottom: 40px;
  text-align: center;
}
.r3-event-tit {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.r3-event-txt {
  font-size: 18px;
  margin: 0 0 10px;
}
.r3-event-txt-btm {
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  margin: 0 auto;
}
.r3-dream {
  background-image: url(../image/grd_white.png), url(../image/bg-dream.jpg);
  background-repeat: repeat-x, no-repeat;
  background-position: left top, center, center;
  background-size: auto cover;
  margin-top: 104px;
  padding-bottom: 216px;
  position: relative;
  text-align: center;
}
.r3-dream:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  background: url(../image/bg-filter2.png) no-repeat center top;
}
.r3-dream-catch img {
  width: 455px;
  height: 24px;
}
.r3-dream-tit {
  font-size: 32px;
  font-weight: bold;
  margin: 16px 0 64px;
}
.r3-dream-tit span {
  font-size: 48px;
}
.r3-dream-outer {
  letter-spacing: -0.4em;
}
.r3-dream-item {
  background: #f191a4;
  opacity: 0.8;
  display: inline-block;
  letter-spacing: normal;
  padding: 4px;
  margin-right: 20px;
  width: 200px;
}
.r3-dream-item-inn {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 40px 0;
}
.r3-dream-en {
  font-size: 18px;
}
.r3-dream-jp {
  position: relative;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  padding-top: 10px;
}
.r3-dream-jp:before {
  margin-left: -24px;
  width: 48px;
  background: rgb(255, 255, 255);
  display: block;
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
}

#reason3 .reason-lead:before {
  background: url(../image/img-reason03-lead.png) no-repeat;
}

.youtube {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
}
.youtube img {
  width: 568px;
  height: 315px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  width: 240px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 998;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  display: table;
  content: "";
}

.slick-prev::before, .slick-next::before {
  height: 28px;
  width: 28px;
  font-size: 28px;
  color: rgb(175, 134, 134);
  opacity: 0.5;
}

.slick-initialized .slick-slide {
  display: block;
}

#event .slick-slide img {
  height: 240px;
  width: 240px;
}

.application {
  padding: 100px 0;
}

.btn-app {
  margin: 0 auto;
  width: 580px;
}
.btn-app a {
  border-radius: 8px;
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.4;
  padding: 20px 0;
}
.btn-app-Box {
  text-align: center;
}
.btn-app-txt {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
}
.btn-app-txt:before {
  background: url(../image/cheer-d_l.png) no-repeat;
  left: -24px;
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: "";
  bottom: 0;
}
.btn-app-txt:after {
  background: url(../image/cheer-d_r.png) no-repeat;
  right: -24px;
  background-size: 16px 24px;
  height: 24px;
  width: 16px;
  position: absolute;
  content: "";
  bottom: 0;
}

#message {
  background: repeating-linear-gradient(-45deg, #f8b4c4, #f8b4c4 40px, #f9bac9 40px, #f9bac9 80px);
  padding: 64px 0;
}

.message-outer {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  padding: 60px 40px 0;
}
.message-tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
}
.message-desc {
  padding: 56px 0 64px 0;
}

#instructor {
  padding: 96px 0;
}

.inst-tit {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.inst-name {
  font-size: 14px;
  font-weight: bold;
}

.cm-lead-box {
  font-size: 18px;
  font-weight: bold;
  margin: 32px auto 0;
  padding: 16px 40px;
  text-align: center;
  width: 600px;
}

#inst {
  margin-top: 48px;
}
#inst-body {
  width: 680px;
  padding: 24px 40px;
  margin: 0 auto;
  background: rgb(255, 103, 154);
  border-radius: 8px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
#inst-body:after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border-width: 12px 12px 0 12px;
  border-style: solid;
  border-color: #ff679a transparent transparent transparent;
}
#inst-nav {
  margin: 40px 0 0;
  width: 100%;
}
#inst-nav li {
  width: 136px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
#inst-nav li .inst-face img {
  border: 2px solid rgb(221, 221, 221);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto;
}
#inst-nav li.slick-center .inst-face img {
  border: 4px solid rgb(255, 103, 154);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#student {
  padding-top: 136px;
}

.student-tit {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.3;
  position: relative;
  text-align: center;
}
.student-tit:before {
  background: url(../image/catch-voice.png) no-repeat;
  background-size: 135px 32px;
  content: "";
  display: block;
  height: 32px;
  margin-left: -68px;
  position: absolute;
  top: -48px;
  left: 50%;
  width: 135px;
}

.voice-outer {
  margin-top: 48px;
}
.voice-box {
  background: rgb(255, 239, 243);
  padding: 16px;
  position: relative;
}
.voice-box:before {
  background: url(../image/voice-corner_top.png) no-repeat;
  content: "";
  display: block;
  background-size: 48px;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
}
.voice-box:after {
  background: url(../image/voice-corner_bottom.png) no-repeat;
  content: "";
  display: block;
  background-size: 48px;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.voice-box:not(:last-child) {
  margin-bottom: 32px;
}
.voice-box-inn {
  background: #fff;
  border: 1px solid rgb(17, 17, 17);
  padding: 32px 48px;
}
.voice-thumb img {
  border: 4px solid rgb(255, 217, 227);
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}
.voice-desc {
  width: 100%;
}
.voice-tit {
  border-top: 1px dashed rgb(204, 204, 204);
  font-size: 26px;
  font-weight: bold;
  line-height: 1.3;
  margin: 12px 0 20px;
  padding-top: 16px;
}

.voice-box:nth-child(odd) .voice-thumb {
  float: left;
}

.voice-box:nth-child(odd) .voice-desc {
  float: right;
  margin-left: -200px;
}
.voice-box:nth-child(odd) .voice-desc-inn {
  margin-left: 240px;
}

.voice-box:nth-child(even) .voice-thumb {
  float: right;
}

.voice-box:nth-child(even) .voice-desc {
  float: left;
  margin-right: -200px;
}
.voice-box:nth-child(even) .voice-desc-inn {
  margin-right: 240px;
}

.v-school {
  background: rgb(255, 147, 172);
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 8px;
  padding: 4px 12px;
  vertical-align: top;
}

.v-name {
  display: inline-block;
  line-height: 1;
  margin: 0 0 0 10px;
  vertical-align: top;
}

.other-voice {
  margin-top: 64px;
  text-align: center;
  padding-bottom: 96px;
  position: relative;
}
.other-voice:before {
  height: 270px;
  background: url(../image/bg-othervoice.jpg) no-repeat left top;
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 144px;
}
.other-voice-list {
  letter-spacing: -0.4em;
  margin: 0 auto 32px;
  width: 620px;
}
.other-voice-list li {
  background: rgb(255, 239, 241);
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: 16px;
  padding: 16px;
  position: relative;
  width: 300px;
}
.other-voice-list li:before {
  background: url(../image/quotation03-l.png) no-repeat;
  background-size: 14px;
  content: "";
  display: block;
  height: 14px;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
}
.other-voice-list li:after {
  background: url(../image/quotation03-r.png) no-repeat;
  background-size: 14px;
  content: "";
  display: block;
  height: 14px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 14px;
}
.other-voice-list li:nth-child(odd) {
  margin-right: 20px;
}

#flow {
  padding: 136px 0 96px;
}

.flow-tit {
  margin-bottom: 56px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  position: relative;
  text-align: center;
}
.flow-tit:before {
  background: url(../image/catch-flow.png) no-repeat;
  background-size: 183px 33px;
  content: "";
  display: block;
  height: 33px;
  width: 183px;
  margin-left: -92px;
  position: absolute;
  top: -48px;
  left: 50%;
}
.flow-tit span {
  font-size: 32px;
}
.flow-outer {
  letter-spacing: -0.4em;
}
.flow-item {
  display: inline-block;
  letter-spacing: normal;
  padding: 24px 40px;
  vertical-align: top;
  width: 47%;
  background: #fff;
  margin-bottom: 32px;
  position: relative;
}
.flow-item:nth-child(odd) {
  margin-right: 40px;
}
.flow-item:first-child:after {
  background-image: url(../image/step01.png);
}
.flow-item:nth-child(2):after {
  background-image: url(../image/step02.png);
}
.flow-item:nth-child(3):after {
  background-image: url(../image/step03.png);
}
.flow-item:last-child:after {
  background-image: url(../image/step04.png);
}
.flow-item:after {
  background-size: 96px;
  height: 96px;
  width: 96px;
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.flow-item-img {
  border-radius: 50%;
  display: block;
  height: 240px;
  margin: 0 auto;
  width: 240px;
}
.flow-item-img img {
  border-radius: 120px;
  height: 240px;
  width: 240px;
}
.flow-item-desc {
  margin-top: -20px;
  position: relative;
}
.flow-item-catch {
  background: rgb(255, 147, 172);
  border-radius: 8px;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  width: 240px;
}
.flow-item-catch:before {
  border-style: solid;
  border-color: #ff93ac transparent transparent transparent;
  border-width: 8px 8px 0 8px;
  content: "";
  display: block;
  height: 0;
  margin-left: -8px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 0;
}
.flow-item-tit {
  margin-top: 12px;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}
.flow-item-txt {
  font-size: 15px;
  margin-top: 8px;
  padding-top: 16px;
  position: relative;
}
.flow-item-txt:before {
  background: #ff93ac;
  content: "";
  display: block;
  height: 2px;
  margin-left: -20px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
}

#perorate {
  padding: 140px 0 180px;
  background: url(../image/bg-perorate.jpg) no-repeat center top;
  position: relative;
}
#perorate:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  background: url(../image/bg-filter2.png) no-repeat center top;
}

#pagetop {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 24px;
  bottom: 64px;
  z-index: 10;
}
#pagetop a {
  display: block;
}

#sp-app {
  display: none;
}

#footer {
  background: rgb(238, 238, 238);
  text-align: center;
}
#footer .footer-sns {
  font-size: 0;
  margin: 0 0 16px;
}
#footer .footer-sns li {
  display: inline-block;
  width: 29px;
  margin-right: 15px;
}
#footer .footer-school {
  margin: 32px 0 4px;
}

.footer-body {
  padding: 40px 0;
}

@media (max-width: 1279px) {
  /******************************************************************

  Stylesheet: 1280px以下のモニタで適用

  ******************************************************************/
  .r1-detail-txt {
    border-top: 1px dotted rgb(17, 17, 17);
    font-size: 17px;
    height: auto;
    min-height: 200px;
    margin: 0 32px;
    padding: 16px 0;
  }
}
@media (max-width: 1023px) {
  /******************************************************************

  Stylesheet: 1024px以下のモニタで適用

  ******************************************************************/
}
@media (max-width: 767px) {
  /******************************************************************

  Stylesheet: 768px以下のモニタで適用

  ******************************************************************/
  #cover {
    background: url(../image/bg-cover-sp.jpg) no-repeat center top;
    background-size: cover;
    padding: 2% 0 0;
    margin: 0 auto 20px;
  }
  .cover-main {
    width: 100%;
  }
  .cover-main .mv-pict {
    top: 10%;
    left: 2%;
    width: 75%;
  }
  body {
    width: 100vw;
  }
  .container.medium {
    display: block;
  }
  span {
    display: block;
  }
  #header {
    width: 100vw;
    text-align: center;
    height: 90px;
  }
  .header-ttl {
    text-align: center;
    padding: 4px 0;
  }
  .header-ttl h1 {
    font-size: 11px;
    margin: 0 auto;
    width: 90%;
  }
  .header-logo {
    position: relative;
    padding: 6px auto;
  }
  .logo img {
    display: inline-block;
    height: 36px;
  }
  .logo a img {
    width: 185px;
  }
  .person-area {
    float: right;
    position: relative;
    width: 30%;
    right: 0;
  }
  .avoid-area h3 {
    font-size: 18px;
    top: -30px;
    line-height: 1.2;
  }
  .avoid-area h3 br {
    display: inline;
  }
  .avoid-area h3 span {
    margin: 0 auto;
  }
  .avoid-area-text {
    font-size: 14px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: left;
  }
  .avoid-area .item {
    margin: 0 auto 10px;
    width: 30%;
    font-size: 0;
  }
  .avoid-area .item-wrap {
    width: 100%;
  }
  .avoid-area .item p {
    font-size: 12px;
    line-height: 1.4;
  }
  #lead {
    margin: 0 auto 40px;
  }
  .lead-item {
    padding: 24px 0;
    width: 100%;
  }
  .lead-item:nth-child(2) .lead-item-txt-btm span {
    display: inline;
  }
  .lead-item:last-child .lead-item-txt-btm span {
    display: inline;
  }
  .lead-item-outer {
    padding: 44px 0;
  }
  .lead-item:first-child .lead-item-ttl {
    padding-left: 20px;
  }
  .lead-item:first-child .lead-item-ttl:before {
    background: url(../image/icon-lead03.png) no-repeat;
    background-size: 27px 20px;
    width: 27px;
  }
  .lead-item span {
    display: block;
  }
  .lead-item:nth-child(2) .lead-item-txt-btm span {
    display: inline;
  }
  .lead-item-txt {
    font-size: 15px;
    height: auto;
  }
  .lead-item-txt:before {
    border-top: 2px solid rgb(255, 147, 172);
    content: "";
    display: block;
    margin-left: -20px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
  }
  .lead-item-txt span {
    display: inline;
  }
  .lead-item-txt-btm {
    font-size: 15px;
  }
  .lead-item-smalltxt-btm {
    display: block;
    font-size: 11px;
    margin: 4px 0 0;
  }
  .lead-item:first-child .lead-item-ttl::before,
.lead-item:nth-child(2) .lead-item-ttl::before,
.lead-item:last-child .lead-item-ttl::before {
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px;
  }
  .lead-item:nth-child(2) {
    margin: 12px 0;
  }
  .lead-item:nth-child(2) .lead-item-ttl:before {
    background-size: 14px 20px;
    width: 14px;
    left: -10px;
  }
  .lead-item:last-child .lead-item-ttl:before {
    background-size: 23px 20px;
    width: 23px;
    left: -10px;
  }
  #problem {
    padding-top: 40px;
  }
  #problem:after {
    height: 64px;
    background-size: auto 64px;
  }
  .problem-list {
    background: none;
    height: auto;
    margin: 0 auto;
    padding-bottom: 56px;
  }
  .problem-list:after {
    content: "";
    background: url(../image/bg-problem.png) no-repeat right bottom;
    background-size: 100%;
    display: inline-block;
    width: 144px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .problem-list li {
    padding: 10px 16px;
    font-size: 16px;
    margin-bottom: 4px;
    width: 400px;
    position: static;
    text-align: left;
  }
  .problem-list li span {
    color: rgb(255, 80, 137);
    font-size: 16px;
    display: inline;
  }
  .problem-list li br {
    display: none;
  }
  .reasons-box {
    padding-top: 48px;
  }
  .reasons-box span {
    display: inline;
  }
  .reasons-catch {
    font-size: 16px;
  }
  .reasons-tit {
    display: block;
    font-size: 22px;
    white-space: nowrap;
  }
  .reasons-tit span:first-child {
    display: block;
  }
  .reasons-tit-top-txt {
    display: block;
  }
  .reasons-tit-yuumin {
    font-size: 38px;
    top: 2px;
  }
  .reason-header {
    margin: 0 0 40px;
  }
  .reason-num {
    position: relative;
    margin: 60px 0 30px;
  }
  .reason-num span {
    background: #fff;
    display: inline-block;
    padding: 0 16px;
    position: relative;
    z-index: 2;
  }
  .reason-each-tit {
    font-size: 28px;
    line-height: 1.2;
  }
  .reason-each-tit span {
    display: inline;
  }
  .reason-each-tit02 {
    font-size: 18px;
    line-height: 1.4;
  }
  .reason-each-tit02 span {
    display: inline;
  }
  .reason-each-tit03 {
    font-size: 16px;
  }
  .reason-each-tit03 span {
    display: inline;
  }
  .reason-each-tit-cont {
    font-size: 16px;
    display: block;
    line-height: 1;
    margin: 0 0 6px;
  }
  .reason-each-tit-cont span::before {
    left: -20px;
  }
  .reason-each-tit-cont span::after {
    right: -20px;
  }
  .reason-each-tit-pink02 {
    font-size: 22px;
  }
  .reason-lead {
    background-image: url(../image/quotation02-l.png), url(../image/quotation02-r.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-size: 9px 60px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 40px;
    padding: 4px 24px;
    position: relative;
    text-align: center;
    width: 90%;
    max-width: 320px;
  }
  .reason-lead em {
    color: rgb(238, 126, 148);
    font-size: 24px;
  }
  .reason-lead small {
    font-size: 12px;
  }
  .reason-lead:after {
    background-size: 49px 52px;
    height: 52px;
    width: 49px;
    top: -8px;
    left: -16px;
  }
  .reason-lead-mini {
    font-size: 15px !important;
  }
  .r1-detail-outer {
    margin-top: 40px;
  }
  .r1-detail-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 290px;
  }
  .r1-detail-img img {
    width: 100%;
    width: 290px;
  }
  .r1-detail-box {
    margin: 0 auto 5%;
    width: 100%;
  }
  .r1-detail-in-text01 {
    display: inline;
    font-size: 22px;
    letter-spacing: -2px;
  }
  .r1-detail-in-text02 {
    margin: 0 0 0 22px;
  }
  .r1-detail-in-text04 {
    font-size: 22px;
  }
  .r1-detail-in-text05 {
    font-size: 22px;
    letter-spacing: -2px;
  }
  .r1-detail-desc {
    border: 1px solid rgb(17, 17, 17);
    padding: 4px;
  }
  .r1-detail-tit {
    font-size: 21px;
    padding: 16px 0;
  }
  .r1-detail-tit span {
    font-size: 14px;
  }
  .r1-detail-txt {
    font-size: 14px;
    height: auto;
    min-height: 120px;
    margin: 0 16px;
  }
  .r1-detail-box {
    margin: 0 auto 5%;
    width: 47.55%;
  }
  .r1-detail-btm-table {
    border-top: 1px dotted rgb(17, 17, 17);
    display: inline-block;
    font-size: 18px;
    margin: 0 7%;
    padding: 16px 0;
    text-align: center;
    width: 86%;
  }
  .r1-detail-btm-table tbody {
    display: inline-block;
    width: 100%;
  }
  .r1-detail-btm-table tr {
    border-bottom: 1px dotted rgb(17, 17, 17);
    display: inline-block;
    width: 100%;
  }
  .r1-detail-btm-table tr:last-child {
    border-bottom: none;
  }
  .r1-detail-btm-table td {
    border-right: 1px dotted rgb(17, 17, 17);
    display: inline-block;
    width: 49%;
    padding: 4px 0;
  }
  .r1-detail-btm-table td:nth-child(even) {
    border-right: none;
  }
  .rd1-l, .rd1-r {
    margin-bottom: 32px;
  }
  .rd1-l {
    width: 100%;
  }
  .rd1-l .r1-detail-img {
    float: none;
    display: block;
    margin: 0 auto;
    width: 290px;
  }
  .rd1-l .r1-detail-top-text {
    font-size: 16px;
    top: 20px;
    left: 26px;
  }
  .rd1-r {
    width: 100%;
  }
  .rd1-r .r1-detail-img {
    float: none;
    position: relative;
    text-align: left;
  }
  .rd1-r .r1-detail-img .r1-detail-top-text {
    font-size: 16px;
    top: 18px;
    right: 20px;
  }
  #reason1 .reason-lead:before {
    display: none;
  }
  #reason2 .reason-lead:before {
    display: none;
  }
  .r2-detail-box01 {
    margin: 40px 0 20px;
  }
  .r2-detail-box01 .r2-detail-box-inn {
    display: block;
    float: none;
    position: static;
    width: 100%;
  }
  .r2-detail-box01 .r2-detail-txt {
    padding: 60px 0;
    font-size: 24px;
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .r2-detail-box01 .r2-detail-txt span {
    display: inline;
  }
  .r2-detail-box01 .r2-detail-txt:before {
    margin-left: -24px;
    top: 0;
    left: 50%;
  }
  .r2-detail-box01 .r2-detail-txt:after {
    background-size: 186px 42px;
    height: 42px;
    margin-left: -93px;
    bottom: 8px;
    left: 50%;
    width: 186px;
  }
  .r2-detail-box01 .r2-detail-txt-bl {
    display: block;
  }
  .r2-detail-box01 .r2-detail-txt-btm {
    font-size: 14px;
    margin: 0 0 20px;
  }
  .r2-detail-box01 .r2-detail-img {
    float: none;
    display: block;
    margin-left: 0;
  }
  .r2-detail-box01 .r2-detail-img > div {
    margin-left: 0;
  }
  .r2-detail-box02 .r2-detail-box-inn {
    float: none;
    display: block;
    position: static;
    text-align: center;
    width: 100%;
  }
  .r2-detail-box02 .r2-detail-txt {
    padding: 60px 0;
    font-size: 24px;
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .r2-detail-box02 .r2-detail-txt span {
    display: inline;
  }
  .r2-detail-box02 .r2-detail-txt:before {
    margin-left: -24px;
    top: 0;
    left: 50%;
  }
  .r2-detail-box02 .r2-detail-txt:after {
    background-size: 94px 44px;
    height: 44px;
    width: 94px;
    margin-left: -47px;
    bottom: 8px;
    left: 50%;
  }
  .r2-detail-box02 .r2-detail-txt-btm {
    font-size: 14px;
    margin: 0 0 20px;
  }
  .r2-detail-box02 .r2-detail-img {
    float: none;
    margin-right: 0;
  }
  .r2-detail-box02 .r2-detail-img > div {
    margin-right: 0;
  }
  .r2-detail-box03 .r2-detail-box-inn {
    display: block;
    float: none;
    position: static;
    width: 100%;
  }
  .r2-detail-box03 .r2-detail-txt {
    padding: 60px 0;
    font-size: 24px;
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .r2-detail-box03 .r2-detail-txt span {
    display: inline;
  }
  .r2-detail-box03 .r2-detail-txt:before {
    margin-left: -24px;
    top: 0;
    left: 50%;
  }
  .r2-detail-box03 .r2-detail-txt:after {
    background-size: 141px 37px;
    height: 37px;
    width: 141px;
    margin-left: -70px;
    bottom: 18px;
    left: 50%;
  }
  .r2-detail-box03 .r2-detail-txt-bl {
    display: block;
  }
  .r2-detail-box03 .r2-detail-txt-btm {
    font-size: 14px;
    margin: 0 0 20px;
  }
  .r2-detail-box03 .r2-detail-img {
    float: none;
    margin-left: 0;
  }
  .r2-detail-box03 .r2-detail-img > div {
    margin-left: 0;
  }
  .r2-classroom {
    display: block;
    margin-top: 0;
  }
  .r2-classroom-header {
    position: relative;
    display: inline-block;
  }
  .r2-classroom-header:before {
    background: url(../image/flag-pink_l.png) no-repeat;
    left: -50px;
  }
  .r2-classroom-header:after {
    background: url(../image/flag-pink_r.png) no-repeat;
    right: -50px;
  }
  .r2-classroom-catch {
    font-size: 16px;
    margin: 0 0 14px;
  }
  .r2-classroom-tit {
    font-size: 36px;
    margin: 0 0 14px;
  }
  .r2-classroom-tit span {
    display: inline;
  }
  .r2-classroom-txt {
    margin: 0 auto 20px;
    max-width: 400px;
  }
  .r2-classroom-img > div {
    float: none;
    margin: 0 auto 16px;
    width: 400px;
  }
  .r2-classroom-img > div:last-child {
    margin: 0 auto;
  }
  .r2-classroom-header:before,
.r2-classroom-header:after {
    display: none;
  }
  #r2-station {
    margin-top: 48px;
  }
  .r2-station-outer {
    padding: 80px 0;
  }
  .r2-station-outer:before {
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 20px 50px 0 50px;
    margin-left: -50px;
  }
  .r2-station-outer:after {
    background: url(../image/img-station_sp.png) no-repeat left top;
    background-size: 122px 96px;
    height: 96px;
    width: 122px;
    bottom: 0;
    left: 0;
  }
  .r2-station-box {
    padding: 24px 0 32px 0;
    width: 100%;
  }
  .r2-station-sub-tit {
    font-size: 15px;
  }
  .r2-station-sub-tit:before {
    background-size: 12px 20px;
    margin-top: -12px;
    top: 50%;
    left: -16px;
  }
  .r2-station-sub-tit:after {
    background-size: 12px 20px;
    top: 50%;
    right: -16px;
  }
  .r2-station-tit {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .r2-station-tit span {
    display: inline;
  }
  .r2-station-txt {
    font-size: 14px;
    padding-top: 20px;
    margin: 0 0 16px;
  }
  .r2-station-txt:before {
    width: 60px;
    margin-left: -30px;
  }
  .r2-station-txt-btm {
    max-width: 90%;
  }
  #reason3 .reason-lead:before {
    display: none;
  }
  .r3-video {
    margin-top: 56px;
    position: relative;
    text-align: center;
    padding-bottom: 0;
  }
  .r3-video-text-area {
    max-width: 500px;
  }
  .r3-video-tit {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .r3-video-tit::before {
    background: url(../image/cheer-s_l.png) no-repeat;
    background-size: 24px 40px;
    content: "";
    display: block;
    height: 40px;
    width: 24px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    left: -36px;
  }
  .r3-video-tit::after {
    background: url(../image/cheer-s_r.png) no-repeat;
    background-size: 24px 40px;
    content: "";
    display: block;
    height: 40px;
    width: 24px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    right: -34px;
  }
  .r3-video-tit span {
    display: inline;
  }
  .r3-video-btm-txt {
    display: block;
    max-width: 380px;
    margin: 0 auto 20px;
  }
  .r3-video-item {
    width: auto;
    margin: 0 0 16px;
    padding: 12px 24px;
  }
  .r3-video-audience-area {
    position: relative;
    width: 294px;
  }
  .r3-video-audience-pict {
    width: 100%;
  }
  .r3-video-audience-pict img {
    width: 100%;
  }
  .r3-video-audience-text {
    top: 27px;
    left: 25px;
  }
  .r3-video-audience-text span {
    display: block;
    font-weight: bold;
  }
  .r3-anytime {
    padding: 160px 0 40px 0;
  }
  .r3-anytime:before {
    background: #fff url(../image/bg-anytime-sp.jpg) no-repeat center top;
    content: "";
    height: 100%;
    position: absolute;
    background-size: 750px 220px;
    height: 220px;
    width: 100%;
    top: 0;
    left: 0;
  }
  .r3-anytime-box {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 56px 24px;
    width: 100%;
  }
  .r3-anytime-desc {
    border-left: 1px dotted rgb(191, 191, 191);
    display: inline;
    margin-top: 40px;
    table-layout: fixed;
    width: 100%;
  }
  .r3-anytime-item {
    border-right: none;
    display: block;
    padding-bottom: 30px;
  }
  .r3-anytime-img img {
    width: 119px;
    height: auto;
  }
  .r3-anytime-sum {
    font-size: 20px;
  }
  .r3-anytime-sum span {
    color: rgb(222, 38, 76);
  }
  .r3-anytime-tit {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    position: relative;
  }
  .r3-anytime-tit span {
    display: inline;
  }
  .r3-anytime-txt span {
    display: inline;
  }
  .r3-event {
    padding: 48px 0;
  }
  .r3-event-header {
    margin-bottom: 24px;
  }
  .r3-event-tit {
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto 10px;
    max-width: 980px;
  }
  .r3-event-tit span {
    display: inline;
  }
  .r3-event-txt {
    font-size: 16px;
  }
  .r3-event-txt-btm {
    position: relative;
    font-size: 16px;
    width: 92%;
    max-width: 980px;
  }
  .r3-dream {
    background-position: left top, center bottom;
    background-size: auto, auto 270px;
    margin-top: 48px;
    padding-bottom: 120px;
  }
  .r3-dream:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;
    background: url(../image/bg-filter2.png) no-repeat center top;
    background-size: auto 20px;
  }
  .r3-dream-catch img {
    width: 272px;
    height: 42px;
  }
  .r3-dream-tit {
    font-size: 20px;
    margin-right: 20px;
  }
  .r3-dream-tit span {
    font-size: 26px;
  }
  .r3-dream-item {
    padding: 4px;
    margin-right: 0;
    display: inline-block;
    opacity: 1;
    width: 136px;
  }
  .r3-dream-item-inn {
    background: rgb(241, 145, 164);
    padding: 32px 0;
  }
  .r3-dream-item:first-child {
    display: block;
    margin: 0 auto 16px;
  }
  .r3-dream-item:last-child {
    margin-left: 16px;
  }
  .r3-dream-en {
    font-size: 12px;
  }
  .r3-dream-jp {
    font-size: 15px;
    margin-top: 6px;
    padding-top: 8px;
  }
  .r3-dream-jp:before {
    margin-left: -16px;
    width: 32px;
  }
  .youtube {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    text-align: center;
  }
  .youtube img {
    width: 100%;
    height: auto;
  }
  .application {
    padding: 80px 0;
  }
  .btn-app a {
    font-size: 15px;
    padding: 16px 0;
  }
  .btn-app-txt {
    font-size: 16px;
  }
  .btn-app-txt span {
    display: inline;
  }
  .btn-app-txt:before {
    left: -20px;
    background-size: 13px 20px;
    height: 20px;
    width: 13px;
  }
  .btn-app-txt:after {
    right: -20px;
    background-size: 13px 20px;
    height: 20px;
    width: 13px;
  }
  .message-outer {
    padding: 32px 24px 20px;
    position: relative;
  }
  .message-tit {
    font-size: 22px;
    text-align: left;
  }
  .message-tit span {
    display: inline;
  }
  .message-desc {
    padding: 32px 0 0;
  }
  .message-txt p {
    font-size: 15px;
  }
  #instructor {
    padding: 48px 0;
  }
  .inst-tit {
    font-size: 40px;
  }
  .inst-tit span {
    display: inline;
  }
  .cm-lead-box {
    font-size: 16px;
    margin-top: 24px;
    padding: 16px;
    width: 100%;
    text-align: left;
  }
  #inst-body {
    width: 100%;
    padding: 16px 24px;
  }
  #inst-nav li {
    width: 136px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  #inst-nav li .inst-face img {
    border: 2px solid rgb(221, 221, 221);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 auto;
  }
  #inst-nav li.slick-center .inst-face img {
    border: 4px solid rgb(255, 103, 154);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #student {
    padding-top: 96px;
  }
  .student-tit {
    font-size: 28px;
  }
  .student-tit span {
    display: inline;
  }
  .voice-outer {
    margin-top: 48px;
  }
  .voice-box {
    background: rgb(255, 239, 243);
    padding: 16px;
    position: relative;
  }
  .voice-box:before {
    background: url(../image/voice-corner_top.png) no-repeat;
    content: "";
    display: block;
    background-size: 48px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .voice-box:after {
    background: url(../image/voice-corner_bottom.png) no-repeat;
    content: "";
    display: block;
    background-size: 48px;
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .voice-box:not(:last-child) {
    margin-bottom: 32px;
  }
  .voice-box-inn {
    padding: 32px 24px;
  }
  .voice-thumb {
    display: block;
    margin-bottom: 8px;
    text-align: center;
  }
  .voice-thumb img {
    border: 0px #fff;
  }
  .voice-box:nth-child(odd) .voice-thumb {
    float: none;
  }
  .voice-box:nth-child(odd) .voice-desc {
    float: none;
    margin-left: 0;
  }
  .voice-box:nth-child(odd) .voice-desc-inn {
    margin-left: 0;
  }
  .voice-box:nth-child(even) .voice-thumb {
    float: none;
  }
  .voice-box:nth-child(even) .voice-desc {
    float: none;
    margin-right: 0;
  }
  .voice-box:nth-child(even) .voice-desc-inn {
    margin-right: 0;
  }
  .v-name {
    margin-top: 3px;
  }
  .v-name span {
    display: inline;
  }
  .other-voice {
    background: url(../image/bg-othervoice_sp.jpg) no-repeat center top;
    background-size: 144px 140px;
    margin-top: 40px;
    text-align: center;
    padding: 140px 0 30px;
  }
  .other-voice:before {
    display: none;
  }
  .other-voice-list {
    margin-bottom: 30px;
    width: 100%;
  }
  .other-voice-list li {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 16px;
    width: 100%;
  }
  .other-voice-list li span {
    display: inline;
  }
  .other-voice-list li:last-child {
    margin-bottom: 0;
  }
  #flow {
    padding: 96px 0 48px;
  }
  .flow-tit {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .flow-tit span {
    font-size: 32px;
    display: inline;
  }
  .flow-outer {
    letter-spacing: -0.4em;
  }
  .flow-item {
    display: inline-block;
    padding: 20px 24px;
    width: 100%;
  }
  .flow-item:nth-child(odd) {
    margin-right: 40px;
  }
  .flow-item:first-child:after {
    background-image: url(../image/step01.png);
  }
  .flow-item:nth-child(2):after {
    background-image: url(../image/step02.png);
  }
  .flow-item:nth-child(3):after {
    background-image: url(../image/step03.png);
  }
  .flow-item:last-child:after {
    background-image: url(../image/step04.png);
  }
  .flow-item:after {
    background-size: 64px;
    height: 64px;
    width: 64px;
  }
  .flow-item-tit {
    font-size: 2.2rem;
  }
  #perorate {
    background-size: auto 280px;
    padding: 88px 0 108px;
  }
  #perorate:after {
    background-size: auto 20px;
    height: 20px;
  }
  .perorate-catch img {
    height: 82px;
    width: 183px;
  }
}
@media (max-width: 500px) {
  /******************************************************************

  Stylesheet: モバイルモニタで適用

  ******************************************************************/
  .problem-list:after {
    width: 104px;
  }
  .problem-list li {
    font-size: 15px;
    width: 100%;
    max-width: 400px;
  }
  .problem-list li span {
    color: rgb(255, 80, 137);
    font-size: 15px;
    display: inline;
  }
  .problem-list li br {
    display: none;
  }
  .problem-list li:nth-child(5), .problem-list li:nth-child(6) {
    width: 70%;
    max-width: 340px;
  }
  .r1-detail-btm-table {
    font-size: 15px;
  }
  .btn-app {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */